body{
    background-color: white;
}

div{
    margin-left: 25%;
    position: inherit;
    left: 30%;
    background-color: lightgray;
    border-style: solid;
    border-width: thick;
    border-color: black;
    margin-bottom: 25px;
    text-align: center;
    width: 50%;
    padding-bottom: 50px;
}

a{
    color: black;
    text-decoration: none;
}

.error
{
    color: #FF0000;
}

#conf
{
    text-align: left;
}